@model IEnumerable<HomeRent.Models.Administration.UserViewModel>
@{
    ViewData["Title"] = "Потребители";
}

<section class="py-4" style="background-color: #fff;">
    <div class="container text-center">
        <nav aria-label="breadcrumb" class="d-flex justify-content-center">
            <ol class="breadcrumb bg-white">
                <li class="breadcrumb-item">
                    <a asp-area="Admin" asp-controller="AdminDashboard" asp-action="Index" style="color: #1563DF;">Администраторски панел</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page" style="color: #1563DF;">
                    Потребители
                </li>
            </ol>
        </nav>

        <h2 style="color: #1563DF;">
            @ViewData["Title"]
        </h2>

    </div>
</section>

<div class="container mt-5">
    <table id="usersTable" class="display">
        <thead>
        <tr>
            <th>Имена</th>
            <th>Имейл</th>
            <th>Телефонен номер</th>
            <th>Статус</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model)
        {
            <tr data-userId="@user.Id">
                <td>@(user.FirstName + " " + user.LastName)</td>
                <td>@user.Email</td>
                <td>@user.PhoneNumber</td>
                   
                <td>
                    <div class="status-wrap">
                            <a class="btn btn-sm btn-danger rounded-pill user-status">Офлайн</a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts
{
    <script src="~/js/adminUserDashboardStatus.js" asp-append-version="true"></script>
}