@model HomeRent.Models.ViewModels.Booking.BookingOverviewViewModel;
@{

}

<!-- Booking Overview -->
<div class="row" style="justify-content: center; margin-top: 30px; margin-bottom: 30px;">
    <div class="col-lg-5">
        <div class="contact-info shadow-sm" style="border-radius: 40px;">
            <div class="d-flex justify-content-center">
                <img src="https://res.cloudinary.com/dsxlhk9cg/image/upload/v1732976770/cuted-logo_slwxsi.png" alt="logo">
            </div>
            <hr>
            <h5 class="title text-center">
                Резервация
            </h5>
            <hr>
            <ul style="">
                <li class="box">
                    <h6 class="title">Информация</h6>
                    <p class="text-variant-1">@Model.PropertyTitle</p>
                    <p class="text-variant-1">@Model.PropertyAddress</p>
                </li>
                <li class="box">
                    <h6 class="title">Дати</h6>
                    <p class="text-variant-1">Дата на настаняване: @Model.CheckInDate.ToString("d.M.yyyy'г.'")</p>
                    <p class="text-variant-1">Дата на напускане: @Model.CheckOutDate.ToString("d.M.yyyy'г.'")</p>
                </li>
                <li class="box">
                    <h6 class="title">Контакт със собственика</h6>
                    <p class="text-variant-1">@Model.OwnerPhone</p>
                    <p class="text-variant-1">@Model.OwnerEmail</p>

                </li>
                <hr>
                <li class="box">
                    <h6 class="title">Цена за престоя · @Model.TotalAmount.ToString("C0")</h6>
                </li>
                <hr>
            </ul>
            <p class="text-variant-1 text-center mb-3">Моля изберете метод на плащане</p>

            <form asp-action="ProcessPayment" asp-controller="Payment" method="post">
                <div class="segmented-buttons">
                    <input type="hidden" value="@Model.Id" name="BookingId" />
                    <input type="radio" id="cash" name="PaymentMethod" value="cash">
                    <label for="cash" style="border-top-left-radius: 10px; border-bottom-left-radius: 10px;">В Брой</label>
                    <input type="radio" id="card" name="PaymentMethod" value="card">
                    <label for="card">Карта</label>
                </div>
                <div class="d-flex justify-content-center gap-5 mt-8">
                    <button type="submit" class="tf-btn primary">Продължи</button>
                    <button class="tf-btn cancel-booking" data-booking-id="@Model.Id">Отказ</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* ToDO : Remove Footer *@

@section Scripts {
    <script type="text/javascript" src="~/js/cancelBooking.js" asp-append-version="true"></script>
}

@section Styles {
    <style>
        .segmented-buttons {
            display: flex;
            justify-content: center;
            margin-bottom: 15px;
        }

            .segmented-buttons label {
                flex: 1;
                text-align: center;
                padding: 10px 15px;
                border: 1px solid #007bff;
                color: #007bff;
                cursor: pointer;
                transition: all 0.3s ease;
                margin: 0;
            }

            .segmented-buttons input {
                display: none;
            }

            .segmented-buttons label:first-child {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }

            .segmented-buttons label:last-child {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }

            .segmented-buttons input:checked + label {
                background-color: #007bff;
                color: #fff;
            }
    </style>
}
