@model HomeRent.Models.ViewModels.Property.PropertyAllViewModel
@{
    ViewData["Title"] = "Имоти";
}

<section class="flat-section flat-recommended flat-sidebar">
    <div class="container">
        <div class="box-title-listing">
            <div class="box-left">
                <h3 class="fw-8">Обяви за имоти</h3>
                <p class="text">Във момента има: <span>@Model.Paging.ListingCount</span> обяви за имоти.</p>
            </div>

        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-5">
                <div class="widget-sidebar fixed-sidebar">
                    <div class="flat-tab flat-tab-form widget-filter-search widget-box">
                        <ul class="nav-tab-form" role="tablist">
                            <li class="nav-tab-item" role="presentation">
                                <a href="" class="nav-link-item active" data-bs-toggle="tab" aria-selected="true" role="tab">Филтри</a>
                            </li>

                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade active show" role="tabpanel">
                                <div class="form-sl">
                                    <form asp-action="All" method="get">
                                        <div class="wd-filter-select">
                                            <div class="inner-group">
                                                <div class="box">
                                                    <div class="form-style">
                                                        <div class="group-ip ip-icon">
                                                            <input type="text" class="form-control" asp-for="Keyword" placeholder="Ключова дума">
                                                            <a href="#" class="icon-right icon-lockbox"></a>
                                                        </div>
                                                    </div>
                                                    <div class="form-style">
                                                        <div class="group-ip ip-icon">
                                                            <input type="text" class="form-control" asp-for="Address" placeholder="Адрес">
                                                            <a href="#" class="icon-right icon-location"></a>
                                                        </div>
                                                    </div>
                                                    <div class="form-style">
                                                        <div class="group-ip ip-icon">
                                                            <input type="text" class="form-control" asp-for="City" placeholder="Град">
                                                            <a href="#" class="icon-right icon-location"></a>
                                                        </div>
                                                    </div>
                                                    <div class="form-style">
                                                        <div class="group-select">
                                                            <select asp-for="PropertyTypeId" asp-items="Model.PropertyTypes" class="nice-select">
                                                                <option value="">Tип на имота</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-style">
                                                            <div class="group-ip ip-icon">
                                                                <input type="text" class="form-control" asp-for="MinBathrooms" placeholder="Бани">
                                                                <a href="#" class="icon-right icon-shower"></a>
                                                            </div>
                                                        </div>
                                                        <div class="form-style">
                                                            <div class="group-ip ip-icon">
                                                                <input type="text" class="form-control" asp-for="MinBedrooms" placeholder="Спални">
                                                                <a href="#" class="icon-right icon-bed"></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="box">
                                                    <div class="form-style widget-price">
                                                        @* <div class="box-title-price">
                                                            <span class="title-price fw-6">Цена:</span>
                                                            <div class="caption-price">
                                                                <span id="slider-range-value1" class="fw-6">$100</span>
                                                                <span class="fw-6">-</span>
                                                                <span id="slider-range-value2" class="fw-6">$650,000</span>
                                                            </div>
                                                        </div>
                                                        <div id="slider-range" class="noUi-target noUi-ltr noUi-horizontal noUi-background"><div class="noUi-base"><div class="noUi-origin noUi-connect" style="left: 0%;"><div class="noUi-handle noUi-handle-lower"></div></div><div class="noUi-origin noUi-background" style="left: 100%;"><div class="noUi-handle noUi-handle-upper"></div></div></div><div class="noUi-base"><div class="noUi-origin noUi-connect" style="left: 0%;"><div class="noUi-handle noUi-handle-lower"></div></div><div class="noUi-origin noUi-background" style="left: 100%;"><div class="noUi-handle noUi-handle-upper"></div></div></div></div>
                                                        <div class="slider-labels">
                                                            <input type="hidden" name="min-value" value="">
                                                            <input type="hidden" name="max-value" value="">
                                                        </div> *@
                                                    </div>
                                                    <div class="form-style widget-price wd-price-2">
                                                        @*  <div class="box-title-price">
                                                            <span class="title-price fw-6">Площ:</span>
                                                            <div class="caption-price">
                                                                <span id="slider-range-value01" class="fw-6">500 SqFt</span>
                                                                <span class="fw-6">to</span>
                                                                <span id="slider-range-value02" class="fw-6">1,500 SqFt</span>
                                                            </div>
                                                        </div>
                                                        <div id="slider-range2" class="noUi-target noUi-ltr noUi-horizontal noUi-background"><div class="noUi-base"><div class="noUi-origin noUi-connect" style="left: 24.2424%;"><div class="noUi-handle noUi-handle-lower"></div></div><div class="noUi-origin noUi-background" style="left: 74.7475%;"><div class="noUi-handle noUi-handle-upper"></div></div></div><div class="noUi-base"><div class="noUi-origin noUi-connect" style="left: 24.2424%;"><div class="noUi-handle noUi-handle-lower"></div></div><div class="noUi-origin noUi-background" style="left: 74.7475%;"><div class="noUi-handle noUi-handle-upper"></div></div></div></div>
                                                        <div class="slider-labels">
                                                            <input type="hidden" name="min-value2" value="">
                                                            <input type="hidden" name="max-value2" value="">
                                                        </div> *@
                                                    </div>
                                                </div>
                                                <div class="box">
                                                    <div class="form-style wd-amenities">
                                                        <div class="group-checkbox">
                                                            <h6 class="title text-black-2">Удобства:</h6>
                                                            <div class="group-amenities">
                                                                @foreach (var amenity in Model.Amenities)
                                                                {
                                                                    <fieldset class="amenities-item">
                                                                        <input type="checkbox" value="@amenity.Id" name="AmenityIds[]" id="amenity@amenity.Id" class="tf-checkbox style-1">
                                                                        <i class="@amenity.IconClass"></i>
                                                                        <label name="Property.AmenityIds">@amenity.Name</label>
                                                                    </fieldset>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-style">
                                                    <button type="submit" class="tf-btn btn-view primary hover-btn-view">Търсене <span class="icon icon-arrow-right2"></span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xl-8 col-lg-7 flat-animate-tab">
                <div class="tab-content">
                    <div class="tab-pane active show" id="listLayout" role="tabpanel">
                        <div class="row">
                            @foreach (var listing in Model.Properties)
                            {
                                <div class="col-md-12">
                                    <div class="homelengo-box list-style-1 list-style-2 line">
                                        <div class="archive-top">
                                            <a href="property-details-v1.html" class="images-group">
                                                <div class="images-style">
                                                    <img class="lazyload" src="@listing.ImageUrl" alt="img-property">
                                                </div>
                                                <div class="top">
                                                    <ul class="d-flex gap-6 flex-wrap">
                                                        <li class="flag-tag primary">Популярно</li>
                                                        <li class="flag-tag style-1">Под наем</li>
                                                    </ul>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="archive-bottom">
                                            <div class="content-top">
                                                <h6 class="text-capitalize"><a href="property-details-v1.html" class="link text-line-clamp-1"> @listing.Title</a></h6>
                                                <ul class="meta-list">
                                                    <li class="item">
                                                        <i class="icon icon-bed"></i>
                                                        <span class="text-variant-1">Спални:</span>
                                                        <span class="fw-6">@listing.Bedrooms</span>
                                                    </li>
                                                    <li class="item">
                                                        <i class="icon icon-bath"></i>
                                                        <span class="text-variant-1">Бани:</span>
                                                        <span class="fw-6">@listing.Bathrooms</span>
                                                    </li>
                                                    <li class="item">
                                                        <i class="icon icon-sqft"></i>
                                                        <span class="text-variant-1">Площ:</span>
                                                        <span class="fw-6">@listing.Size m<small>2</small></span>
                                                    </li>
                                                </ul>
                                                <div class="location">
                                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M10 7C10 7.53043 9.78929 8.03914 9.41421 8.41421C9.03914 8.78929 8.53043 9 8 9C7.46957 9 6.96086 8.78929 6.58579 8.41421C6.21071 8.03914 6 7.53043 6 7C6 6.46957 6.21071 5.96086 6.58579 5.58579C6.96086 5.21071 7.46957 5 8 5C8.53043 5 9.03914 5.21071 9.41421 5.58579C9.78929 5.96086 10 6.46957 10 7Z" stroke="#A3ABB0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                        <path d="M13 7C13 11.7613 8 14.5 8 14.5C8 14.5 3 11.7613 3 7C3 5.67392 3.52678 4.40215 4.46447 3.46447C5.40215 2.52678 6.67392 2 8 2C9.32608 2 10.5979 2.52678 11.5355 3.46447C12.4732 4.40215 13 5.67392 13 7Z" stroke="#A3ABB0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    </svg>
                                                    <span class="text-line-clamp-1">@listing.Address,<span>@listing.City</span></span>
                                                </div>
                                                <p class="description mt-20 text-line-clamp-2 text-variant-1">@listing.Description</p>
                                            </div>

                                            <div class="content-bottom">
                                                <div class="d-flex gap-8 align-items-center">
                                                    <span>@listing.OwnerFullName</span>
                                                </div>
                                                <h6 class="price">@listing.PricePerNight</h6>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            }
                        </div>
                        @* ToDO : Extract pagination in partial view *@
                        <partial name="_PaginationPartial" model="Model.Paging"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>