@inject SignInManager<ApplicationUser> SignInManager;
@using HomeRent.Data.Models.User
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model HomeRent.Models.ViewModels.Property.PropertyDetailsViewModel
@{
    this.ViewData["Title"] = Model.Property.Title;

    int columnCount = 3;
    int totalAmenities = Model.Property.Amenities.Count();
    int itemsPerColumn = (int)Math.Ceiling((double)totalAmenities / columnCount);
    var groupedAmenities = Model.Property.Amenities
        .Select((amenity, index) => new { amenity, index })
        .GroupBy(x => x.index / itemsPerColumn)
        .ToList();

     var userEmail = User.Identity?.Name;
     var ownerEmail = Model.Property.OwnerEmail;
     bool isOwner = string.Equals(userEmail, ownerEmail, StringComparison.OrdinalIgnoreCase);
}


<div class="flat-section-v4">
    <div class="container">
        <div class="header-property-detail">
            <div class="content-top d-flex justify-content-between align-items-center">
                <h3 class="title link fw-8">@Model.Property.Title</h3>
                <div class="box-price d-flex align-items-end">
                    <h3 class="fw-8">@Model.Property.PricePerNight лв.</h3>
                    <span class="body-1 text-variant-1">/нощ</span>
                </div>
            </div>
            <div class="content-bottom">
                <div class="box-left">
                    <div class="info-box">
                        <div class="label">Основни</div>
                        <ul class="meta">
                            <li class="meta-item">
                                <i class="icon icon-bed"></i>
                                <span class="text-variant-1">Спални:</span>
                                <span class="fw-6">@Model.Property.Bedrooms</span>
                            </li>
                            <li class="meta-item">
                                <i class="icon icon-bath"></i>
                                <span class="text-variant-1">Бани:</span>
                                <span class="fw-6">@Model.Property.Bathrooms</span>
                            </li>
                            <li class="meta-item">
                                <i class="icon icon-sqft"></i>
                                <span class="text-variant-1">кв.м:</span>
                                <span class="fw-6">@Model.Property.Size</span>
                            </li>
                        </ul>
                    </div>
                    <div class="info-box">
                        <div class="label">Местоположение</div>
                        <p class="meta-item"><span class="icon icon-mapPin"></span><span class="text-variant-1">@(Model.Property.Address + ", " + Model.Property.City)</span></p>
                    </div>
                </div>

                <ul class="icon-box">
                    <li>
                        @if (isOwner)
                        {
                            <a asp-action="Edit" asp-route-id="@Model.Property.Id" class="item">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.2413 2.9915L12.366 1.86616C12.6005 1.63171 12.9184 1.5 13.25 1.5C13.5816 1.5 13.8995 1.63171 14.134 1.86616C14.3685 2.10062 14.5002 2.4186 14.5002 2.75016C14.5002 3.08173 14.3685 3.39971 14.134 3.63416L4.55467 13.2135C4.20222 13.5657 3.76758 13.8246 3.29 13.9668L1.5 14.5002L2.03333 12.7102C2.17552 12.2326 2.43442 11.7979 2.78667 11.4455L11.242 2.9915H11.2413ZM11.2413 2.9915L13 4.75016" stroke="#A3ABB0" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </a>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="flat-slider-detail-v1 px-10">
    <div dir="ltr" class="swiper tf-sw-location swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden" data-preview="3" data-tablet="2" data-mobile-sm="2" data-mobile="1" data-space-lg="10" data-space-md="10" data-space="10" data-pagination="1" data-pagination-sm="2" data-pagination-md="2" data-pagination-lg="3">
        <div class="swiper-wrapper" id="swiper-wrapper-8261fde3823f10c4" aria-live="polite" style="transform: translate3d(-443.333px, 0px, 0px); transition-duration: 0ms;">
            @for (int i = 0; i < Model.Property.Images.Count(); i++)
            {
                var slideClass = "swiper-slide";

                if (i == 0)
                {
                    slideClass += " swiper-slide-prev"; // Previous slide
                }
                else if (i == 1)
                {
                    slideClass += " swiper-slide-active"; // Active slide
                }
                else if (i == 2)
                {
                    slideClass += " swiper-slide-next"; // Next slide
                }

                <div class="@slideClass" style="width: 433.333px; margin-right: 10px;" role="group" aria-label="@($"{i + 1} / {Model.Property.Images.Count()}")">
                    <a href="@Model.Property.Images.ElementAt(i)" data-fancybox="gallery" class="box-img-detail d-block">
                        <img src="@Model.Property.Images.ElementAt(i)" alt="img-property">
                    </a>
                </div>
            }
        </div>

        <div class="sw-pagination sw-pagination-location text-center swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 2" aria-current="true"></span></div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>
</section>

<section class="flat-section-v3 flat-property-detail">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-7">
                <div class="single-property-element single-property-desc">
                    <h5 class="fw-6 title">Описание</h5>
                    <p class="text-variant-1">@Model.Property.Description</p>
                </div>
                <div class="single-property-element single-property-overview">
                    <h6 class="title fw-6">Информация</h6>
                    <ul class="info-box">
                        <li class="item">
                            <a href="#" class="box-icon w-52"><i class="icon icon-sliders-horizontal"></i></a>
                            <div class="content">
                                <span class="label">Тип:</span>
                                <span>@Model.Property.PropertyType</span>
                            </div>
                        </li>
                        <li class="item">
                            <a href="#" class="box-icon w-52"><i class="icon icon-bed1"></i></a>
                            <div class="content">
                                <span class="label">Спални:</span>
                                <span>@Model.Property.Bedrooms</span>
                            </div>
                        </li>
                        <li class="item">
                            <a href="#" class="box-icon w-52"><i class="icon icon-bathtub"></i></a>
                            <div class="content">
                                <span class="label">Бани:</span>
                                <span>@Model.Property.Bathrooms</span>
                            </div>
                        </li>
                        <li class="item">
                            <a href="#" class="box-icon w-52"><i class="icon icon-crop"></i></a>
                            <div class="content">
                                <span class="label">Площ:</span>
                                <span>@Model.Property.Size кв.м</span>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="single-property-element single-property-feature">
                    <h5 class="title fw-6">Удобства</h5>
                    <div class="wrap-feature">
                        @foreach (var group in groupedAmenities)
                        {
                            <div class="box-feature">
                                <ul>
                                    @foreach (var item in group)
                                    {
                                        <li class="feature-item">
                                            <i class="@item.amenity.IconClass"></i>
                                            @item.amenity.Name
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>
                </div>

                <div class="single-property-element single-wrapper-review">
                    <h5 class="title fw-6">Ревюта</h5>
                    <div class="wrap-review">
                        <ul class="box-review">
                            @if (!Model.Reviews.Any())
                            {
                                <p>Все още няма ревюта.</p>
                            }
                            @foreach (var review in Model.Reviews)
                            {
                                <li class="list-review-item">
                                    <div class="content" style="width: 100%;">
                                        <div class="box-head">
                                            <div class="d-flex align-items-center flex-wrap justify-content-between gap-8">
                                                <h6>@review.TenantFullName</h6>
                                                <ul class="list-star">
                                                    @for (int i = 0; i < review.Rating; i++)
                                                    {
                                                        <li class="icon icon-star"></li>
                                                    }
                                                </ul>
                                            </div>
                                            <p class="mt-4 caption-2 text-variant-2">@review.DateReviewed.ToString("MMMM dd, yyyy")</p>
                                        </div>
                                        <p>@review.Comment</p>
                                    </div>
                                </li>
                            }
                            @if (Model.Reviews.Count() > 3)
                            {
                                <li class="list-review-item">
                                    <button class="tf-btn btn-line">Вижте всички ревюта</button>
                                </li>
                            }
                        </ul>
                    </div>
                    @if (this.SignInManager.IsSignedIn(User) && !isOwner)
                    {
                        <div class="wrap-form-comment">
                            <h5 class="text-black-2">Оставете ревю</h5>
                            <p class="text-variant-1 mt-8">Вашият имейл адрес няма да бъде публикуван.</p>
                            <div id="comments" class="comments">
                                <div class="respond-comment">
                                    <form class="comment-form form-submit" id="review-form">
                                        <div class="form-wg group-ip">
                                            <fieldset>
                                                <label class="sub-ip">Име</label>
                                                <input type="text" class="form-control" name="name" placeholder="Име и фамилия">
                                            </fieldset>
                                            <fieldset>
                                                <label class="sub-ip" style="width: 100%;text-align: center;margin-bottom: 30px;">Рейтинг</label>
                                                <div id="divRating" class="rating d-flex justify-content-center form-box">
                                                    <span id="spanRating5" class="star" title="Excellent">☆</span>
                                                    <span id="spanRating4" class="star" title="Good">☆</span>
                                                    <span id="spanRating3" class="star" title="Fair">☆</span>
                                                    <span id="spanRating2" class="star" title="Poor">☆</span>
                                                    <span id="spanRating1" class="star" title="Awful">☆</span>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <fieldset class="form-wg">
                                            <label class="sub-ip">Вашето ревю</label>
                                            <textarea name="Comment" rows="4" tabindex="4" placeholder="Напишете вашето ревю" aria-required="true"></textarea>
                                        </fieldset>
                                        <input type="hidden" name="Rating" id="ratingValue" value="0">
                                        <input type="hidden" name="PropertyId" id="propertyId" value="@Model.Property.Id" />
                                        <button class="form-wg tf-btn primary w-100" name="submit" type="submit">
                                            <span>Качи ревю</span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="single-sidebar fixed-sidebar">
                    <div class="widget-box single-property-contact">
                        <h5 class="title fw-6">Направете резервация</h5>
                        <div class="box-avatar">
                            <div class="info">
                                <h6 class="name">@Model.Property.OwnerFullName</h6>
                                <ul class="list">
                                    <li class="d-flex align-items-center gap-4 text-variant-1"><i class="icon icon-phone"></i>@Model.Property.OwnerPhone</li>
                                    <li class="d-flex align-items-center gap-4 text-variant-1"><i class="icon icon-mail"></i>@Model.Property.OwnerEmail</li>
                                </ul>
                            </div>
                        </div>

                        @* Booking From *@
                        @if (!isOwner && this.SignInManager.IsSignedIn(this.User))
                        {
                            <form id="booking-form" class="contact-form">
                                <div class="ip-group">
                                    <input placeholder="Изберете дати" class="booking-calendar form-control">
                                </div>
                                <div class="ip-group">
                                    <input type="text" placeholder="Телефон" value="@Model.Property.OwnerPhone" class="form-control">
                                </div>
                                <div class="ip-group">
                                    <input type="text" placeholder="Имейл" value="@Model.Property.OwnerEmail" class="form-control">
                                </div>
                                <div class="ip-group">
                                    <textarea name="Message" rows="4" tabindex="4" placeholder="Съобщение до собственика" aria-required="true"></textarea>
                                </div>
                                <div class="ip-group">
                                    <h6 class="name" id="total-price">Обща цена · </h6>
                                </div>
                                <input type="hidden" id="start-date" name="CheckInDate"/>
                                <input type="hidden" id="end-date" name="CheckOutDate"/>
                                <input type="hidden" name="PropertyId" value="@Model.Property.Id"/>
                                <button type="submit" class="tf-btn btn-view primary hover-btn-view w-100">Резервирай <span class="icon icon-arrow-right2"></span></button>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>

@section Scripts
{
    <script type="text/javascript" src="~/js/dynamicCalendar.js" asp-append-version="true"></script>    
    <script type="text/javascript" src="~/js/reviewPublishing.js" asp-append-version="true"></script>    
}

@section Styles
{
    @* Styling of the rating stars *@
    <style>
        .rating {
            unicode-bidi: bidi-override;
            direction: rtl;
            font-size: 36px;
            margin-top: -11px;
            color: #ffa800;
            margin-left: 10px;
            margin-right: 10px;
        }

            .rating > span {
                display: inline-block;
                position: relative;
                width: 1em;
                cursor: pointer;
            }

                .rating > span:hover:before,
                .rating > span:hover ~ span:before,
                .rating > span.rated:before,
                .rating > span.rated ~ span:before {
                    content: "\2605";
                    position: absolute;
                }
    </style>
}
