@using CloudinaryDotNet.Core
@model HomeRent.Models.ViewModels.Home.HomeIndexViewModel
@{
    ViewData["Title"] = "Начало";

    int columnCount = 4;
    int totalAmenities = Model.Amenities.Count();
    int itemsPerColumn = (int)Math.Ceiling((double)totalAmenities / columnCount);
    var groupedAmenities = Model.Amenities
        .Select((amenity, index) => new { amenity, index })
        .GroupBy(x => x.index / itemsPerColumn)
        .ToList();
}

<!-- Slider -->
<section class="flat-slider home-1" style="background-image: url(https://res.cloudinary.com/dsxlhk9cg/image/upload/v1732969088/sliderimage2-copy_bexv5k.jpg);">
    <div class="container relative">
        <div class="row">
            <div class="col-lg-12">
                <div class="slider-content">
                    <div class="heading text-center">
                        <h1 class="title-large text-white animationtext slide">
                            Намерете своя
                            <span class="tf-text s1 cd-words-wrapper">
                                <span class="item-text is-visible">Мечтан дом</span>
                                <span class="item-text is-hidden">Перфектен дом</span>
                            </span>
                        </h1>
                        <p class="subtitle text-white body-2 wow fadeInUp" data-wow-delay=".2s">Хиляди имоти под наем те очакват!  Намери своя перфектен дом сега! </p>
                    </div>
                    <div class="flat-tab flat-tab-form">
                        <ul class="nav-tab-form style-1 justify-content-center" role="tablist">
                            <li class="nav-tab-item" role="presentation">
                                <a href="" class="nav-link-item active" data-bs-toggle="tab">Търси имоти под наем</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade active show" role="tabpanel">
                                <div class="form-sl">
                                    <form asp-controller="Property" asp-action="All" method="get">
                                        <div class="wd-find-select">
                                            <div class="inner-group">
                                                <div class="form-group-1 search-form form-style">
                                                    <label>Тип</label>
                                                    <div class="group-select">
                                                        <select asp-for="PropertyTypeId" asp-items="Model.PropertyTypes" class="nice-select">
                                                            <option value="">Tип на имота</option>
                                                        </select>
                                                    </div>

                                                </div>
                                                <div class="form-group-2 form-style">
                                                    <label>Адрес</label>
                                                    <div class="group-ip">
                                                        <input type="text" asp-for="Address" class="form-control" placeholder="Потърси адрес">
                                                        <a href="#" class="icon icon-location">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="form-group-3 form-style">
                                                    <label>Ключова дума</label>
                                                    <input type="text" asp-for="Keyword" class="form-control" placeholder="Потърси ключова дума">
                                                </div>

                                            </div>
                                            <div class="box-btn-advanced">
                                                <div class="form-group-4 box-filter">
                                                    <a class="tf-btn btn-line filter-advanced pull-right">
                                                        <span class="text-1">Още филтри</span>
                                                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M5.5 12.375V3.4375M5.5 12.375C5.86467 12.375 6.21441 12.5199 6.47227 12.7777C6.73013 13.0356 6.875 13.3853 6.875 13.75C6.875 14.1147 6.73013 14.4644 6.47227 14.7223C6.21441 14.9801 5.86467 15.125 5.5 15.125M5.5 12.375C5.13533 12.375 4.78559 12.5199 4.52773 12.7777C4.26987 13.0356 4.125 13.3853 4.125 13.75C4.125 14.1147 4.26987 14.4644 4.52773 14.7223C4.78559 14.9801 5.13533 15.125 5.5 15.125M5.5 15.125V18.5625M16.5 12.375V3.4375M16.5 12.375C16.8647 12.375 17.2144 12.5199 17.4723 12.7777C17.7301 13.0356 17.875 13.3853 17.875 13.75C17.875 14.1147 17.7301 14.4644 17.4723 14.7223C17.2144 14.9801 16.8647 15.125 16.5 15.125M16.5 12.375C16.1353 12.375 15.7856 12.5199 15.5277 12.7777C15.2699 13.0356 15.125 13.3853 15.125 13.75C15.125 14.1147 15.2699 14.4644 15.5277 14.7223C15.7856 14.9801 16.1353 15.125 16.5 15.125M16.5 15.125V18.5625M11 6.875V3.4375M11 6.875C11.3647 6.875 11.7144 7.01987 11.9723 7.27773C12.2301 7.53559 12.375 7.88533 12.375 8.25C12.375 8.61467 12.2301 8.96441 11.9723 9.22227C11.7144 9.48013 11.3647 9.625 11 9.625M11 6.875C10.6353 6.875 10.2856 7.01987 10.0277 7.27773C9.76987 7.53559 9.625 7.88533 9.625 8.25C9.625 8.61467 9.76987 8.96441 10.0277 9.22227C10.2856 9.48013 10.6353 9.625 11 9.625M11 9.625V18.5625" stroke="#161E2D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                        </svg>
                                                    </a>
                                                </div>
                                                <button type="submit" class="tf-btn btn-search primary">Търси<i class="icon icon-search"></i> </button>
                                            </div>

                                        </div>
                                        <div class="wd-search-form">
                                            <div class="grid-2 group-box group-price">
                                                <div class="widget-price">
                                                    <div class="box-title-price">
                                                        <span class="title-price fw-6">Цена:</span>
                                                        <div class="grid-2 gap-3">
                                                            <input type="number" class="form-control me-2" asp-for="MinPrice" placeholder="От" />
                                                            <input type="number" class="form-control" asp-for="MaxPrice" placeholder="До" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="widget-price">
                                                    <div class="box-title-price">
                                                        <span class="title-price fw-6">Площ:</span>
                                                        <div class="grid-2 gap-3">
                                                            <input type="number" class="form-control me-2" asp-for="MinSize" placeholder="От" />
                                                            <input type="number" class="form-control" asp-for="MaxSize" placeholder="До" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid-3 group-box">
                                                <div class="group-select grid-1">
                                                    <label class="title-select fw-6">Бани</label>
                                                    <input type="text" class="form-control" asp-for="MinBathrooms" placeholder="Брой Бани">
                                                </div>
                                                <div class="group-select grid-1">
                                                    <label class="title-select fw-6">Спални</label>
                                                    <input type="text" class="form-control" asp-for="MinBedrooms" placeholder="Брой Спални">
                                                </div>
                                                <div class="group-select grid-1">
                                                    <div class="box-select">
                                                        <label class="title-select fw-6">Тип на имота</label>
                                                        <select asp-for="PropertyTypeId" asp-items="Model.PropertyTypes" class="nice-select">
                                                            <option value="">Tип на имота</option>
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="group-checkbox">
                                                <div class="text-1 text-black-2">Удобства:</div>
                                                <div class="group-amenities grid-4">
                                                    @foreach (var group in groupedAmenities)
                                                    {
                                                        <div class="box-amenities">
                                                                @foreach (var item in group)
                                                                {
                                                                    var amenity = item.amenity;
                                                                    <fieldset class="amenities-item mb-2">
                                                                        <input type="checkbox" value="@amenity.Id" name="Property.AmenityIds[]" id="amenity@amenity.Id" class="tf-checkbox style-1">
                                                                        <i class="@amenity.IconClass"></i>
                                                                        <label name="Property.AmenityIds">@amenity.Name</label>
                                                                    </fieldset>
                                                                }
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="overlay"></div>
</section>
<!-- End Slider -->

<!-- Recommended -->
<section class="flat-section flat-recommended">
    <div class="container">
        <div class="box-title text-center wow fadeInUp" style="visibility: visible;">
            <div class="text-subtitle text-primary">Нашите предложения</div>
            <h3 class="mt-4 title">Препоръчани за теб</h3>
        </div>
        <div class="flat-tab-recommended flat-animate-tab wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s;">
            <div class="tab-content">
                <div class="tab-pane active show" id="viewAll" role="tabpanel">
                    <div class="row">
                        @foreach (var property in Model.Properties)
                        {
                            <div class="col-xl-4 col-lg-6 col-md-6">
                                <div class="homelengo-box">
                                    <div class="archive-top">
                                        <a href="property-details-v1.html" class="images-group">
                                            <div class="images-style">
                                                <img src="@property.ImageUrl" alt="img">
                                            </div>
                                            <div class="top">
                                                <ul class="d-flex gap-6">
                                                    <li class="flag-tag primary">Featured</li>
                                                    <li class="flag-tag style-1">For Sale</li>
                                                </ul>

                                            </div>
                                            <div class="bottom">
                                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M10 7C10 7.53043 9.78929 8.03914 9.41421 8.41421C9.03914 8.78929 8.53043 9 8 9C7.46957 9 6.96086 8.78929 6.58579 8.41421C6.21071 8.03914 6 7.53043 6 7C6 6.46957 6.21071 5.96086 6.58579 5.58579C6.96086 5.21071 7.46957 5 8 5C8.53043 5 9.03914 5.21071 9.41421 5.58579C9.78929 5.96086 10 6.46957 10 7Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <path d="M13 7C13 11.7613 8 14.5 8 14.5C8 14.5 3 11.7613 3 7C3 5.67392 3.52678 4.40215 4.46447 3.46447C5.40215 2.52678 6.67392 2 8 2C9.32608 2 10.5979 2.52678 11.5355 3.46447C12.4732 4.40215 13 5.67392 13 7Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                </svg>
                                                @(property.Address + ", " + property.City) 
                                            </div>
                                        </a>

                                    </div>
                                    <div class="archive-bottom">
                                        <div class="content-top">
                                            <h6 class="text-capitalize"><a href="property-details-v1.html" class="link">@property.Title</a></h6>
                                            <ul class="meta-list">
                                                <li class="item">
                                                    <i class="icon icon-bed"></i>
                                                    <span class="text-variant-1">Beds:</span>
                                                    <span class="fw-6">@property.Bedrooms</span>
                                                </li>
                                                <li class="item">
                                                    <i class="icon icon-bath"></i>
                                                    <span class="text-variant-1">Baths:</span>
                                                    <span class="fw-6">@property.Bathrooms</span>
                                                </li>
                                                <li class="item">
                                                    <i class="icon icon-sqft"></i>
                                                    <span class="text-variant-1">Sqft:</span>
                                                    <span class="fw-6">@property.Size</span>
                                                </li>
                                            </ul>

                                        </div>

                                        <div class="content-bottom">
                                            <div class="d-flex gap-8 align-items-center">
                                                <span>@property.OwnerFullName</span>
                                            </div>
                                            <h6 class="price">@property.PricePerNight лв. нощ</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="text-center">
                        <a asp-controller="Property" asp-action="All" class="tf-btn btn-view primary size-1 hover-btn-view">Разгледайте всички имоти <span class="icon icon-arrow-right2"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>