@model HomeRent.Models.Shared.PagingViewModel

@{
    var prefix = string.IsNullOrEmpty(Model.QueryString)
        ? "?"
        : "?" + Model.QueryString + "&";
}

<ul class="wd-navigation mt-20 justify-content-center">
    <li class="@(Model.HasPreviousPage ? "" : "disabled")">
        <a 
            href="@(Model.HasPreviousPage 
                      ? prefix + $"page={Model.PreviousPageNumber}" 
                      : "#")"
            class="nav-item">
            <i class="icon icon-arr-l"></i>
        </a>
    </li>

    @for (int i = 1; i <= Model.PagesCount; i++)
    {
        <li class="@(i == Model.PageNumber ? "active" : "")">
            @if (i == Model.PageNumber)
            {
                <a href="#" class="nav-item active">@i</a>
            }
            else
            {
                <a href="@(prefix + $"page={i}")" class="nav-item">@i</a>
            }
        </li>
    }

    <li class="@(Model.HasNextPage ? "" : "disabled")">
        <a 
            href="@(Model.HasNextPage 
                      ? prefix + $"page={Model.NextPageNumber}" 
                      : "#")"
            class="nav-item">
            <i class="icon icon-arr-r"></i>
        </a>
    </li>
</ul>